.link-btn {
  border: none;
  background: transparent;
}
.link-div {
  display: flex;
  justify-content: flex-end;
}
.main-one {
  background: #f7f4f4;
  padding: 40px;
}
.email-color {
   color: #b977ea;
}

.border-bottom {
  border-bottom: 3px solid lightgray;
  padding: 20px;
}
